<!DOCTYPE html>
<html>
  <head>
    <title>Gato Jazz Admin Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex">
        <nav class="flex w-full">
            <div class="w-64 p-4 h-screen bg-black sticky top-0">
                <div class="flex flex-col">
                    <%= image_tag 'logo.png', class: 'w-16 mx-auto' %>
                    <h1 class="text-orange-600 font-bold text-md py-2 hidden md:block mx-auto">Admin Store</h1>
                </div>
                <ul class="flex flex-col mx-auto w-full gap-4 mt-2">
                    <li class="text-orange-600 p-3 hover:rounded hover:bg-gray-800 hover:p-3 active:text-orange-800">
                        <%= icon('fa-solid', 'gauge-high') %>
                        <%= link_to "Dashboard", root_path %>
                    </li>
                    <li class="text-orange-600 p-3 hover:rounded hover:bg-gray-800 hover:p-3 active:text-orange-800">
                        <%= icon('fa-solid', 'cart-shopping') %>
                        <%= link_to "Products", root_path %>
                    </li>
                    <li class="text-orange-600 p-3 hover:rounded hover:bg-gray-800 hover:p-3 active:text-orange-800">
                        <%= icon('fa-solid', 'list') %>
                        <%= link_to "Categories", root_path %>
                    </li>
                    <li class="text-orange-600 p-3 hover:rounded hover:bg-gray-800 hover:p-3 active:text-orange-800">
                        <%= icon('fa-solid', 'truck-fast') %>
                        <%= link_to "Orders", root_path %>
                    </li>
                </ul>
            </div>
        </nav>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </main>
  </body>
</html>
